# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Build
build
dist
coverage
test/reports

# Env secrets
.env
.env.*
!*.example

# Logs
logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode
.idea

# Docker artefacts
.dockerignore